@import url("https://fonts.googleapis.com/css2? family= Barlow:wght@200 & family= Nunito+Sans:ital,wght@1,200 & display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

.pantalla {
  background-image: url(../images/fondodefinitivo.png); }

.formu {
  transition: 1s all; }
  .formu:focus {
    width: 30%;
    font-size: 50%; }

.arriba {
  font-weight: bolder;
  font-size: 100%;
  font-family: "Nunito Sans", sans-serif;
  padding: 1em; }

.subtitulos {
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  color: #186444; }

.imagen-inicio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px; }

.imagenBb {
  width: 30%; }

h1 {
  font-size: 500%;
  font-weight: bolder;
  font-family: "Barlow", sans-serif;
  text-align: center;
  color: #02633a;
  padding: 1rem; }

.titulo {
  font-size: 500%;
  font-weight: bolder;
  margin-top: 1%;
  margin-bottom: 1%; }

.subtitulos {
  font-weight: bolder;
  font-size: 200%;
  font-family: "Barlow", sans-serif;
  text-align: center;
  color: "Barlow", sans-serif;
  text-decoration: none;
  padding: 1rem; }

h2 {
  font-size: 200%;
  font-family: "Barlow", sans-serif;
  font-weight: bolder;
  text-align: center;
  color: #186444;
  margin-top: 5%;
  margin-bottom: 5%; }

.subtitulos2 {
  font-weight: bolder; }

h3 {
  font-weight: bolder;
  font-size: 200%;
  font-family: "Barlow", sans-serif;
  text-align: center;
  color: #186444; }

.primerParrafo {
  font-style: normal;
  font-size: 250%;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  font-weight: bolder;
  color: #166d49;
  padding: 2%;
  margin-top: 5%;
  margin-bottom: 5%; }

.formula, .formulario {
  font-size: 140%;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  border: solid;
  border-color: black;
  height: auto;
  width: 30%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  background-image: linear-gradient(to bottom, #ff6e00, #e56900, #cd6300, #b55d03, #9f5607);
  padding: 1rem; }

.formulario {
  font-weight: bolder;
  width: 50%;
  padding: 10px; }

.arriba {
  font-weight: bolder;
  font-size: 100%;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #186444;
  padding: 1rem; }

.productos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.imgbebe {
  width: 20%;
  height: 20%; }

.imgEstilos {
  padding: 1%;
  gap: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.grid2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto; }

.zoom:hover {
  transform: scale(2);
  transition: all 1s; }

.imgGrande {
  width: 500px;
  height: 400px; }

.imgProductos {
  width: 450px;
  height: 300px; }

.centrado {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.redes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80px;
  margin: 2% 2%; }

.grid3 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 60% 40%; }

.grid1 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr; }

@media (max-width: 600px) {
  .arriba {
    font-size: 60%; }
  .titulo {
    font-size: 200%; }
  h2 {
    font-size: 110%; }
  .subtitulos2 {
    font-size: 100%; }
  .primerParrafo {
    font-size: 100%;
    padding: auto;
    margin: auto; }
  .formula, .formulario {
    font-size: 80%;
    width: 60%; }
  .subtitulos {
    font-size: 140%; }
  h3 {
    font-size: 75%; }
  .imgGrande {
    width: 300px;
    height: 200px; }
  .mapa {
    width: 300px;
    height: 200px; }
  .redes {
    width: 40px; }
  .desborde {
    width: 100%;
    height: 30%; }
  .grid3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .imagen-inicio {
    width: 100%;
    height: 50%; }
  .imgProductos {
    width: 200px;
    height: 150px; }
  .grid2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .grid1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; } }

@media (min-width: 601px) and (max-width: 1068px) {
  .arriba {
    font-size: 80%; }
  .titulo {
    font-size: 300%; }
  h2 {
    font-size: 130%; }
  .subtitulos2 {
    font-size: 130%; }
  .primerParrafo {
    font-size: 120%;
    padding: auto;
    margin: auto; }
  .formula, .formulario {
    font-size: 70%;
    width: 50%; }
  .subtitulos {
    font-size: 170%; }
  h3 {
    font-size: 120%; }
  .imgGrande {
    width: 400px;
    height: 300px; }
  .redes {
    width: 85px; }
  .desborde {
    width: 100%;
    height: 40%; }
  .grid3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .imagen-inicio {
    width: 100%;
    height: 70%; }
  .imgProductos {
    width: 250px;
    height: 175px; }
  .grid2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .grid1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; } }
