
$colorencabezados:rgb(235, 104, 57);
$backgrounprimary:linear-gradient(to bottom, #ff6e00, #e56900, #cd6300, #b55d03, #9f5607);
$sizeprin:'Barlow', sans-serif;
$sizesecun:'Nunito Sans', sans-serif;
$direc:row, column;

$estilos: (
  titulo: rgb(206, 79, 33),
  centro: center,
  padding: 1rem,
);
